/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --color-primary-100: #4B6BFB;

  --color-secondary: #F2F2F7;
  --color-secondary-100: #E8E8EA;
  --color-secondary-400: #97989F;
  --color-secondary-500: #696A75;
  --color-secondary-600: #3B3C4A;
  --color-secondary-700: #242535;
  --color-secondary-800: #181A2A;
  --color-secondary-dark: #4B6BFB;

  /* --  BREAKPOINTS   --  */
  --breakpoint-sm: 376px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
}

.dark{
  --color-app-bg: #181A2A;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

button{
  cursor: pointer;
}
