/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'quill/dist/quill.snow.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --color-primary-100: #4B6BFB;

  --color-secondary: #F2F2F7;
  --color-secondary-100: #E8E8EA;
  --color-secondary-400: #97989F;
  --color-secondary-500: #696A75;
  --color-secondary-600: #3B3C4A;
  --color-secondary-700: #242535;
  --color-secondary-800: #181A2A;
  --color-secondary-dark: #4B6BFB;

  /*Single Post*/
  --color-secondary-post-800: #181A2A;
  --color-secondary-post-600: #3B3C4A;

  /* --  BREAKPOINTS   --  */
  --breakpoint-sm: 376px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
}

.dark{
  --color-app-bg: #181A2A;
  --color-secondary-post-800: #fff;
  --color-secondary-post-600: #BABABF;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

button{
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .container{
    padding-inline: 14px;
  }
}

.single-post__post-content h1{
  font-size: 28px;
  color: var(--color-secondary-post-800);
}

.single-post__post-content p{
  font-size: 18px;
  color: var(--color-secondary-post-600);
}
